 h1 
 {color:red;
}
*{border:solid;
}
.header{
    background-color: blue;
    display: flex;
    justify-content: space-between;
}
.grid{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}
.footer{
    display: flex;
    justify-content: flex-end;
}
h2,p{
    text-align: center;
}
